{% extends 'frontend/base-profile.html' %}
{% block title %}Change Paasword{% endblock %}
{% block content %}
<!-- page content -->
        <div class="right_col" role="main">
        <div class="x_panel">
        <h2 class="page-heading">Change Password</h2>  
			 <div class="upload-album">
                                    <form id="change_password" method="post" action="/change-password/">{% csrf_token %}
                                        <div class="form-group">
                                            <input class="form-control validate[required]" id="id_oldpassword"  name="oldpassword" placeholder="OldPassword" required type="password">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control validate[required]" id="id_newpassword"  name="newpassword" placeholder="NewPassword" required type="password">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control validate[required,equals[id_newpassword]]" id="id_confirmpassword"  name="confirmpassword" placeholder="ConfirmPassword" required type="password">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="btn-changepassword" class="btn btn-danger btn-block btn-lg" value="Change Password"/>
                                        </div>         
                                    </form>
				</div>
			</div>
        </div>
<!-- /page content -->
{% endblock %}
{% block script%}
<link href='/static/css/validationEngine.jquery.css' rel="stylesheet" type="text/css">
<script src="/static/js/jquery.validationEngine-en.js" ></script>
<script src="/static/js/jquery.validationEngine.js" ></script>   
<script>
    $("#change_password").validationEngine();
</script>
{% endblock %}
