{% extends 'frontend/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<section class="inner-bg">
    <div class="container">
        <div class="inner-wrapper signin-modal ">
            <h3 class="static-heading">Don’t know your password?</h2>
                <div class="col-md-8 col-md-offset-2">
                    <form id="frm_resetpwd" method="post" action="/resetpassword/">{% csrf_token %}
                        <input name="user_id" type="hidden" value="{{ userprofile.user_id }}">
                        <input name="forgot_id" type="hidden" value="{{ userprofile.forgotstr }}">
                        <input id="pwd" class="validate[required] input pass" name="newpassword" type="password" placeholder="Enter Password" >
                        <input class="validate[required,equals[pwd]] input pass" name="confirmpassword" type="password" placeholder="Re-enter password">
			<input type="submit" value="Request a password reset" class="inputButton">
                    </form>
                </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(e){
    $("#frm_resetpwd").validationEngine();
});
</script>
{% endblock %}