{% extends 'frontend/base-profile.html' %}
{% block title %}Video Edit{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="x_panel">
        <h2 class="page-heading">Upload Video</h2>
        <div class="upload-album">
        <form method="post" action="/video-edit/">{% csrf_token %}
                
                    <div class="form-group">
                        <label>Video Title<span style="color: red;">*</span></label>
                        <input name="title" value="{{ video.title }}" type="text" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label>Video Subtitle</label>
                        <input name="subtitle" value="{{ video.subtitle }}" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                       <iframe width="640" height="320" src="{{ video.link }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="form-group ">
                        <label>Youtube Link<span style="color: red;">*</span></label>
                        <input name="link" value="{{ video.link_url }}" type="url" class="form-control" required="">
                        <p>paste You tube url like : https://www.youtube.com/watch?v=AqumSyB4ISw</p>
                    </div>
                    {% comment %}
                    <div class="form-group ">
                        <label>Artist Name </label>
                        <input name="artist_name" type="text" class="form-control">
                    </div>
                    {% endcomment %}
                    <div class="form-group ">
                        <label>Select Genre<span style="color: red;">*</span></label>
                        <select name="genre_id" required="" class="form-control">
                            <option value="">Select</option>
                            {% for gen in genre %}
                                <option value="{{gen.id}}" {% if video.genre_id == gen.id %}selected{% endif%}>{{ gen.title }}</option>
                            {% endfor%}
                        </select>
                    </div>
                    <div class="form-group ">
                        <label>Select Type<span style="color: red;">*</span></label>
                        <select name="types_id" required="" class="form-control">
                            <option value="">Select</option>
                            {% for typ in types %}
                                <option value="{{typ.id}}" {% if video.types_id == typ.id %}selected{% endif%}>{{ typ.title }}</option>
                            {% endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Dedicate To</label>
                        <input value="{{ video.dedicate }}" name="dedicate" type="text" class="tags form-control" id='tags_3' >
                    </div>

                    <div class="form-group">
                        <input type="hidden" value="{{ video.id }}" name="video_id">
                        <input name="btn_edit" type="submit" value="Edit Video" class="btn btn-danger">
                        <button name="btn_delete" onclick="return ConfirmDelete()" class="btn btn-danger">Delete</button>
                    </div>
                
            </form>
   </div>
 </div> 
</div> 
{% endblock %}
{% block script %}
<style>
.tag span{ color: white; }
</style>
<link href="/static/css/profile/jquery.tagsinput.css" rel="stylesheet">
<script src="/static/js/profile/jquery.tagsinput.js"></script>
<script>
$('#tags_3').tagsInput({width: 'auto'});    
function ConfirmDelete()
{
  var x = confirm("Are you sure you want to delete?");
  if (x)
      return true;
  else
    return false;
}
</script>
{% endblock %}