{% extends 'adminpanel/baseinner.html' %}
{% block title %}All Albums{% endblock %}
{% block content %}
{% load admin_fun %}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">All Albums</h3>
             <div class="pull-right">
             {% if user_id %}    
                {% if likes_order %}
                    {% if likes_order == "asc" %}
                        <a class="btn btn-primary" href="{% url 'user_albums_list_order' user_id 'desc' %}">Sort by likes</a>
                    {% endif %} 
                    {% if likes_order == "desc" %}
                        <a class="btn btn-primary" href="{% url 'user_albums_list_order' user_id 'asc' %}">Sort by likes</a>
                    {% endif %}  
                    {% if likes_order != "asc" and likes_order != "desc"  %}
                        <a class="btn btn-primary" href="{% url 'user_albums_list' user_id %}">Sort by likes</a>
                    {% endif %}  
                {% else %}  
                    <a class="btn btn-primary" href="{% url 'user_albums_list_order' user_id 'asc' %}">Sort by likes</a>
                {% endif %}    
            {% else %} 
                {% if likes_order %}
                    {% if likes_order == "asc" %}
                        <a class="btn btn-primary" href="{% url 'albums_list_order' 'desc' %}">Sort by likes</a>
                    {% endif %} 
                    {% if likes_order == "desc" %}
                        <a class="btn btn-primary" href="{% url 'albums_list_order' 'asc' %}">Sort by likes</a>
                    {% endif %}  
                    {% if likes_order != "asc" and likes_order != "desc"  %}
                        <a class="btn btn-primary" href="{% url 'albums_list' %}">Sort by likes</a>
                    {% endif %}  
                {% else %}  
                    <a class="btn btn-primary" href="{% url 'albums_list_order' 'asc' %}">Sort by likes</a>
                {% endif %} 
            {% endif %}
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        {% if albums %}   
        <div class="row">
            {% for album in albums %} 
               <div class="col-md-3">
                <div class="image view view-first">
                    {% if album.album_image %}
                        <img style="width: 100%; display: block;" src="/media/{{ album.album_image }}" alt="image">
                    {% else %}   
                        <img style="width: 100%; display: block;" src="/static/images/no-content.jpg">
                    {% endif %} 
                    <div class="mask">
                        <div>
                            <a href="{% url 'admin_album_details' album.slug %}">{{album.title}}</a>
                        </div>
                        <div>
                            {% userdetails album.uploadby_id as artist_album %}  
                            <a style="color: black;font-style: italic;" href="{% url 'get_userdetails' artist_album.user_id %}">Artist-&nbsp;{{artist_album.name}}</a>
                        </div>    
                    </div>
                    </div>
                       <div class="caption">
                            {% if album.dedicate %}
                                {% get_tags album.dedicate as showtags %}
                                <div class="tags">
                                <div class="tags-content">
                                <h2><i class="fa fa-heart" aria-hidden="true"></i> This album is dedicated to :</h2>        
                                    {% for showtag in showtags %}
                                       <span><a href="#{{showtag}}">{{showtag}}</a></span> 
                                       {% endfor %}   
                                </div>         
                                </div>  
                            {% endif %} 
                            <p>Likes :&nbsp; <b>{{album.like_counts}}</b></p>
                            <p>
                                <a onclick="disapprove_album({{album.id}})" class="btn btn-primary" href='javascript:void(0)'>Disapprove</a>
                                <a onclick="delete_album({{album.id}})" class="btn btn-danger" href='javascript:void(0)'>Delete</a>
                                <a class="btn btn-success" href="{% url 'admin_album_details' album.slug %}">Edit</a>
                            </p>
			</div>
                </div>
             {% endfor %}    
            <div class="clearfix"></div>
                <div class="pagination">
                    <span class="step-links">
                    {% if albums.has_previous %}
                        <a href="?page={{ albums.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ albums.number }} of {{ albums.paginator.num_pages }}.
                    </span>
                    {% if albums.has_next %}
                        <a href="?page={{ albums.next_page_number }}">next</a>
                    {% endif %}
                     </span>
                </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center">No Albums</div>
            </div>
        </div>
        {% endif %}
        </div>
    </div>

</div>
<!-- /page content -->
{% endblock %}
{% block script %}
<script>
    function disapprove_album(album_id){
         ajax_call("admin/disapprove-album",album_id,"disapprove");
    }
    function delete_album(album_id){
        var x = confirm("Are you sure you want to delete?");
        if (x)
            ajax_call("admin/delete-album",album_id,"delete");
        else
          return false;
    }
    function ajax_call(url,album_id,status){
        $.ajax({// create an AJAX call...
            data: {album_id: album_id},
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type: "POST",
            url: '/'+url+'/', // the file to call
            beforeSend: function() {
                $("#default_loader").show();
            },
            success: function (response) { // on success..
                if (response == "1") {
                   $("#default_loader").hide();
                    if(status=="delete"){
                       location.reload(); 
                    } else {
                         location.assign("/admin/admin-pending-albums/");
                    }
                } else {
                    $("#default_loader").hide();
                    location.reload(); 
                 }
            }
        });
    }
</script>
{% endblock %}
