{% extends 'adminpanel/baseinner.html' %}
{% block title %}country user analytics{% endblock %}
{% block content %}
<div class="col-md-12">
    <!-- page content -->
    <h2 class="page-heading">country wise user Analytics</h2>  
    
    <div class="row">
        {% if countryusers %}
        {% for country_user in countryusers %}
        <div class="col-md-3">
            <h4 style="text-align: center;">{{ country_user.country_name}}</h4>
            <div class="thumbnail">
                <div><h4 style="text-align: center;">Number Of Users</h4></div>
                <div class="clearfix"></div>
                <div><h1 style="text-align: center;">{{ country_user.users }}</h1></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- /page content -->
{% endblock %}    