{% extends 'adminpanel/base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href=""><b>Forgot</b>Password</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <form id="frm_forgotpassword" action="/admin/forgotpassword/" method="post">{% csrf_token %}
      <div class="form-group has-feedback">
          <input name="email" type="email" class="form-control validate[required,custom[email]]" placeholder="Email" required="">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Send</button>
        </div>
        
      </div>
    </form>
   <a href="/admin/login/">Sign In</a><br>
 </div>
  
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(e){
    $("#frm_forgotpassword").validationEngine();
});
</script>
{% endblock %}