{% extends 'adminpanel/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href=""><b>Reset</b>Password</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    
    <form id="frm_resetpwd" method="post" action="/admin/resetpassword/">{% csrf_token %}
     <input name="user_id" type="hidden" value="{{ userprofile.user_id }}">   
     <input name="forgot_id" type="hidden" value="{{ userprofile.forgotstr }}">
      <div class="form-group has-feedback">
          <input id="pwd" class="form-control validate[required] input pass" name="newpassword" type="password" placeholder="Enter Password" >
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
          <input class="form-control validate[required,equals[pwd]] input pass" name="confirmpassword" type="password" placeholder="Re-enter password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        
      </div>
    </form>
   
 </div>
</div>


{% endblock %}
{% block script %}
<script>
$(document).ready(function(e){
    $("#frm_resetpwd").validationEngine();
});
</script>
{% endblock %}