{% extends 'adminpanel/baseinner.html' %}
{% block title %}Messages{% endblock %}
{% block content %}
{% load admin_fun %}
<div class="col-md-12">
    <!-- page content -->
    <h2 class="page-heading">Messages</h2>  
    <div class="row" style="margin: 10px 0px 0px 0px;">
      <div id="thread_div" class="col-md-3 nscol col-sm-4 col-xs-12 left-side-bar-cht">
                {% if threads %}
                <ul class="list-unstyled">
                {% for thread in threads %}
                <li class="jqcl user-cht" style="cursor:pointer;">
                    {% userdetails thread.touser_id as fromuser %}
                    <input class="threadval" type="hidden" name="thread_id" value="{{ thread.thread_id }}">
                    <div>
                        <span class="title-left-cht"><b>{{ fromuser.name }}</b></span>
                        <span class="pull-right date-left-cht">{{ thread.msg_date|date:"M d" }}</span>
                    </div>
                    <div class="mail-subj">{{ thread.subject}}</div>
                    <div class="clearfix"></div>
                    <div>{{ thread.body | truncatewords:10 | safe }}</div>   
                </li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>No Conversation yet!</p>
                {% endif %}
            </div>   
            <div id="msg_div" class="col-md-9 col-sm-8 col-xs-12 nsthread">
                <p class="nsp">No Conversation Selected.</p>
            </div>  
    </div>
</div>
<!-- /page content -->
{% endblock %} 
{% block script%}
<style>
    .nsthread{border: 1px solid; min-height: 500px;}
    .nscol{border: 1px solid; border-right: 0; min-height: 500px;}
    .nsp{text-align: center; color: black; margin-top: 50px;}
</style>
<script>
    $(document).ready(function() {
        var height = Math.max($("#thread_div").height(), $("#msg_div").height());
        $("#thread_div").height(height);
        $("#msg_div").height(height);
    });
</script>
<script>
$( ".jqcl" ).each(function( index ) {
    $( this ).click(function() {
        var thread_id = $(this).find(".threadval").val();
        //alert(thread_id);
        $.ajax({
            url: "{% url 'get_thread_detail' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type: "POST",
            data: {thread_id:thread_id,thread_type:'sent'},
            beforeSend: function() {
                $("#default_loader").show();
            },
            success: function(data) {
                $("#default_loader").hide();   
                $("#msg_div").html(data);
                var height = Math.max($("#thread_div").height(), $("#msg_div").height());
                $("#thread_div").height(height);
                $("#msg_div").height(height); 
            }, 
            error: function(err) {
                $("#default_loader").hide();
            }
        }); 
    });
});
</script>
{% endblock %} 